extends layout

block content
    .container
        .row
            .col-lg-offset-4
            .col-lg-4
                if (!user)
                    h1 Simple Charts
                    .alert.alert-info
                        p you can use the example account to see examples
                        p username: example
                        p password: password
                    a.btn.btn-primary(href='/login') Login
                    a.btn.btn-success(href='/register') Register
                if (user)
                    h1 #{user.username}, welcome
        if (user)
            .row
                .col-md-6
                        h3 Datasets
                        #projects-container
                            ul.list-group
                                each data in charts
                                    li.list-group-item
                                        p=data.name
                                        button.barChart.btn-primary bar chart
                                        button.pieChart.btn-primary pie chart
                                        button.remove-btn.btn-primary remove
                            if (charts.length === 0)
                                p No Data
                .col-md-6
                    h4 new
                    form(role='form', action='/projects/new', method='post', style='max-width: 600px')
                        .form-group
                            input#new-name.form-control(type='text', name='name', placeholder='Enter a name')
                        .form-group
                            textarea#new-data(name='data', cols='60', rows='10')
                        br
                        button#new-button(type='submit').btn.btn-primary Add
                        br
                        h4#info
            .row
                br
                h4#chart-info
                .col-md-8
                    #chart
                .col-md-4
                    h4 csv
                    pre
                        code
                            #csv-result
                    h4 parsed
                    pre
                        code
                            #parsed-result
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='js/csv.min.js')
    script(src='js/index.js')
